<div class="container">
    <div class="row mt-5">
        {{#if personas}}
            <table class="table text-center mx-auto" style="width: 80%;">
                <thead>
                    <tr class="table-dark">
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each personas}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{lastname}}</td>
                            <td>{{age}}</td>
                            <td>
                                <div>
                                    <a href="#" class="btn btn-warning">Editar</a>
                                    <a href="#" class="btn btn-danger">Eliminar</a>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr class="table-dark">
                        <td colspan="4">REGISTRO DE PERSONAS</td>
                    </tr>
                </tfoot>
            </table>
        {{else}}
            <div class="card text-center mx-auto" style="width: 350px;">
                <div class="card-header">
                    <h3>Debes crear una persona</h3>
                </div>
                <div class="card-body">
                    <p>
                        Presiona este botón para que puedas registrar 
                        a una persona en la aplicación
                    </p>
                    <a href="#" class="btn btn-primary">Ir a crear</a>
                </div>
            </div>
        {{/if}}
    </div>
</div>